{% extends "base.html" %}
{% block jumbotron %}
<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Oops, something went terribly wrong, sorry !</h2>
  <img src="static/img/plane-500-error-640.jpg" alt="acft picture" class="img-responsive center-block" width="480" height="360">
  <p><small>provided by https://pixabay.com/de/flugzeug-wrack-gebrochen-flugzeuge-2857712/</small></p>
  <br>
  <p class="lead"><strong>I recommend you run the App Healthcheck</strong></p>
  <p><a class="btn btn-lg btn-success" href="health.html" role="button">App Health</a></p>
</div>
{% endblock %}
