{% extends "base.html" %}
{% block home_state %}class="active"{% endblock %}
{% block jumbotron %}
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Planespotter</h1>
  <p class="lead">At some point I will have to add text for the Home-Page here</p>
</div>
{% endblock %}

{% block index_content %}
<div class="row">
  <div class="col-lg-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-lg btn-success" href="registry.html" role="button">US Aircraft Registry</a></p>
  </div>
  <div class="col-lg-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-lg btn-success" href="acftstatus.html" role="button">Individual Aircraft Details</a></p>
  </div>
</div>
{% endblock %}
